html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Inter', sans-sarif;
    font-size: 16px;
    color: #1b1e1f;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.wrapup{
    width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}

header{
    background-color: #6adada;
    color:#000080;
}

header a{
    color: #1b1e1f;
}

header a:hover{
    text-decoration: none;
    color: #e7f3db;
}

img{
    width: 300px;
    float:left;
    margin-right: 20px;
}

h1, h2, h3{
    font-family: 'Oleo+Script', cursive;
    margin: 0;
}

h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

.project{
    background: #F5FFFA;
}
.project .button{
        background: #000080;
        color: #F5FFFA;
        text-decoration: none;
        padding: 6px;
        border-radius: 3px;
}
.project .button:hover{
        background: #6adada;
}

.work{
        background-color: #e7f3db;
        clear:both;
}

.education{
        background-color: #c9e9e1;
}

footer{
    background-color: #000080;
    color:#C6DABF;
    font-size: .8em;
}
footer a{
    color:#6adada;
    font-size: .9rem;
}